*{
    color:whitesmoke ;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}


label{
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: whitesmoke; 
    margin-bottom: 10px; 
    display: block; 
}
  
h3 b{
    color: #08D9D6;
} 

select{
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 5px; 
    border: 3px solid darkgrey; 
    border-radius: 10px; 
    width: 200px; 
}

h1{
    color: whitesmoke;
    text-decoration: underline;
}

h3{
    color: #08D9D6;
    text-decoration: underline;
}

select option{
    font-size: 16px;
    background-color: #fff; 
    color: black;
}

body{
    background-image: url(images/T.jpg);
    background-size: cover;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 250px;
    width: 250px;
    margin: 30px auto;
    border: 2px solid gray;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    border: 2px solid gray;
}

.box:hover{
    background-color: rgba(128, 128, 128, 0.503);
}

#reset{
    background-color: gray;
    color: Black;
    padding: 10px 25px;
    border: none;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

#reset:hover{
    padding: 10px 40px;
    background-color: cyan ;
    color: black;
}